.case-admin {
    width: 74%;
    position: absolute;
    right: 0%;
    top: 0%;
    margin-top: 15px;

}

.btn-pal {
    text-align: left;
    margin-top: 20px;
    margin-left: 20px;
}

.btn-pal button {
    margin-top: 10px;
    width: 15%;
    height: 30px;
    background-color: aqua;
}

.tbl-pay {
    border: 3px solid rgb(247, 0, 0);
    margin-top: 10px;
    height: 100px;
    margin: auto;
    width: 50%;
}
.tbl-pay table {
    margin-top: 15px;
    float: right;
}

.tbl-pay table tr th {
    background-color: rgb(131, 239, 247);
}