.head-roomstatus {
    margin-top: 15px;
    position: absolute;
    width: 74%;
    right: 0%;
    top: 0%;

}

.roomstatus-admin img {
    border-radius: 50%;
    width: 190px;
}

.btn-status  {
    text-align: left;
    margin-top: 10px;
    margin-left: 20px;
}

.btn-status button {
    width: 10%;
    height: 30px;
    background-color: aqua;
}

.datestatus {
    text-align: left;
    margin-top: 10px;
    margin-left: 20px;

}
.table-status {
    margin-top: 10px;
    height: 100px;
    margin: auto;
    width: 50%;

}

.table-status table {
    margin-top: 15px;
    text-align: center;
}