.EditMember {
    width: 95%;
    right: 0%;

}

.btn-saveform {
    text-align: center;

}

.table-editmem {
   text-align: left;
   margin: auto;  
   width: 30%;  
   padding: 3%;  
}


.btn-editmem button {
    margin-left: 20px;
}
