.header-his {
    width: 74%;
    position: absolute;
    right: 0%;
    top: 0%;
    margin-top: 15px;

} 
.header-hisimg img {
    border-radius: 50%;
    width: 190px;
}

.tbl-his {
    margin-top: 10px;
    margin: auto;
    width: 70%;
    margin-top: 10px;
}
