.header-news {
    color: rgb(0, 0, 0);
    position: absolute;
    width: 74%;
    right: 0%;
    top: 0%;
    margin-top: 15px;

}

.bnt-news {
    text-align: left;
    margin-top: 10px;
    margin-left: 20px;
}


.bnt-news button {
    width: 15%;
    height: 30px;
    background-color: aqua;
}

.tbl-news {
    margin-top: 10px;
}

.tbl-news table {
    height: 40px;
    margin: auto;
    width: 70%;

}

.tbl-news table tr td input {
    width: 90%;
    height: 100%;
}

.tbl-news table tr td button {
    width: 100%;
    height: 30px;
    background-color: aqua;
}