* {
  background-color: azure;
  margin: 0%;
  padding: 0%;
}

.headeradmin{
  max-width: 100%;
  margin: 0 auto;
}

.btn-admin {
  background-color: rgb(39, 39, 59);
  width: 25%;
  text-align: center;
  padding: 0%;
  padding-bottom: 100%;

}

.adminpage {
  text-align: center;
  
}

.btn-admin button {
  width: 35%;
  margin-top: 20px;
  height: 35px;
  font-size: 1.15vw;
  display: block;
  border-radius: 10%;
  margin-left: auto;
  margin-right: auto; 
  color: rgb(255, 255, 255);

}
.btn-admin h1 {
  background-color: rgb(39, 39, 59);
  color: azure;
  font-family: "Times New Roman", Times, serif;
}

.btnthird {
  
  box-shadow: 0 0 40px 40px #3498db inset, 0 0 0 0 #3498db;
  transition: all 150ms ease-in-out;
}


.active .btnthird{
  box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 4px #3498db;
  color: black;
}

.btnthird:hover {
  box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 4px #3498db;
  color: black;
}

.appheader {
  background-color: rgb(22, 22, 36);
  padding: 15px;

}

.appheader img {
  border-radius: 50%;
  margin-top: 5px;
  width: 35%;
  left: 0%;
}

.appheader p {
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.25vw;
  color: white;
  background-color: rgb(22, 22, 36);
  
}

