.header-roomty {
    color: rgb(0, 0, 0);
    position: absolute;
    width: 74%;
    right: 0%;
    top: 0%;
    margin-top: 15px;

}

.tbl-roomtype {
    margin-top: 10px;
    height: 100px;
    margin: auto;
    width: 70%;
}
.tbl-roomtype table {
    margin-top: 15px;
}

.tbl-roomtype  img {
    width: 40%;
}
.addtype {
    text-align: end;
    margin-right: 0%;
    text-align: center;
}

.addtype img {
    width: 20%;
}

.pashtype {
    position: absolute;
    width: 20%;
    right: 0px;
    margin-right: 15%;
    margin-top: 15px;
}